.station-card {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    &__img {
        width: 100%;
    }
    &__name {
        width: 100%;
        margin: auto;
        padding: 4px;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include screen(max, 600px) {
            font-size: 12px;
        }
    }
    @include screen(max, 480px) {
        margin: 0 auto;
        max-width: 120px;
    }
}
