.fade-move {
    transition: transform 0.2s;
}
.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}


.move-leave-active,
.move-enter-active {
    transition: all 0.1s;
}
.move-enter {
    opacity: 0;
    transform: translateY(-8px);
}
.move-leave-to {
    opacity: 0;
    transform: translateY(8px);
}
