@import './mixins.scss';
@import './vars.scss';
@import './fonts.scss';

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    padding: 12px;
    margin: 0 auto;
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
}
.main-grad {
    background: rgb(113, 113, 113);
    background: linear-gradient(
        115deg,
        rgba(113, 113, 113, 1) 0%,
        rgba(149, 149, 149, 1) 30%,
        rgba(204, 203, 219, 1) 100%
    );
}
.control-wraper {
    background-color: #ff9800;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 0 12px;
    margin: 3px;
}
