.container {
    width: 100%;
    max-width: 1200px;
    padding: 12px;
    margin: 0 auto;
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
}

.main-grad {
    background: rgb(113, 113, 113);
    background: linear-gradient(
        115deg,
        rgba(113, 113, 113, 1) 0%,
        rgba(149, 149, 149, 1) 30%,
        rgba(204, 203, 219, 1) 100%
    );
}

.input {
    border: 1px solid gray;
    line-height: 28px;
    border-radius: 3px;
    padding: 0 8px;
    outline-color: #f9a825;
    @include screen(max, 480px) {
        font-size: 12px;
        line-height: 22px;
    }
}

input[type='range'] {
    height: 16px;
    width: 100%;
    padding: 0 2px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    -webkit-appearance: none;
    background-color: $orange;
}
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: black;
}
