.container {
    width: 100%;
    padding: 12px;
    margin: 0 auto;
}

.shadow {
    -webkit-box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
    -moz-box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
    box-shadow: 0px 0px 10px 2px rgba(148, 148, 148, 1);
}
.main-grad {
    background: rgb(113, 113, 113);
    background: linear-gradient(
        115deg,
        rgba(113, 113, 113, 1) 0%,
        rgba(149, 149, 149, 1) 30%,
        rgba(204, 203, 219, 1) 100%
    );
}